$layout-max-width-1: 1000px;

// size
$screen-pc-size: 1440px;
$screen-pad-l-size: 1060px;
$screen-pad-m-size: 992px;
$screen-pad-s-size: 768px;
$screen-mobile-size: 480px;
$screen-mobile-s-size: 359px;


$header-pc-height-1:     90px;
$header-pc-height-2:     60px;
$header-mobile-height-1: 40px;

// @mixin
@mixin text-one(){
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
}
@mixin can-change(){
	&:before{
      display: block;
      content: '';
      width: 0;
      height: 100%;
      opacity: 0.9;
      background-color: #eee;
      position: absolute;
      top: 0;
      left: 0;
    }
}
@mixin X-btn($weight:1px,$color:#000){
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      &:before,&:after{
            display: block;
            content: '';
            width: $weight;
            height: 140%;
            border-radius: $weight / 2;
            background-color: $color;
            position: absolute;
            top: 50%;
            left: 50%;
      }
      &:before{
            transform: translate(-50% , -50%) rotate(45deg);
      }
      &:after{
            transform: translate(-50% , -50%) rotate(-45deg);
      }
}

@mixin transform-bounce($name,$style1,$style2,$style3,$style4){
  @keyframes #{$name} {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: $style1;
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: $style2;
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: $style3;
    }

    90% {
        transform: $style4;
    }
  }
}
@mixin transform-bounceInDown($name,$style1,$style2,$style3,$style4,$style5){
  @keyframes #{$name} {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
      transform: $style1;
    }

    60% {
      transform: $style2;
    }

    75% {
      transform: $style3;
    }

    90% {
      transform: $style4;
    }

    to {
      transform: $style5;
    }
  }
}







